experiments/issues-collected-old
annotation-summary-project.txt
annotation-summary-issue1.txt
negative-tests.csv
nullannoinference-agent2/target
*.class
nullannoinference-commons/target
experiments/issues-inferred-old
experiments/issues-collected
experiments/issues-inferred2
nullannoinference-refiner.jar
nullannoinference-annotator.jar
experiments/.annotation-results
experiments/infer-results
experiments/issues-inferred3
experiments/issues-inferred
experiments/spring-framework/issues-collected
experiments/spring-framework/issues-inferred
experiments/infer-eradicate-results
experiments/infer-nullsafe-results
nullannoinference-scoper/target
nullannoinference-annotator/.annotation-results
nullannoinference-extractor/target
nullannoinference-propagator/target
nullannoinference-sanitizer/target
experiments-spring/results
nullannoinference-merger/target
experiments/results
experiments-spring/results-old
experiments-spring/projects
experiments-spring/analyses
experiments-spring/instrumented-gradle-old
experiments-spring/.annotation-results
nullannoinference-commons-io/target
experiments-jastaddj/inferred
experiments-additional/analyses
experiments-jastaddj/analyses
experiments-additional/results
log.csv
experiments-jastaddj/results
**/inputFiles.lst
**/createdFiles.lst
